terratowns_endpoint = "https://terratowns.cloud/api"
FIFA = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/FIFA"
    content_version = 1
}
KeyLime = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/KeyLime"
    content_version = 1
}


